body{
    background: rgb(220, 224, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 400px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.container form, .container h2{
    background: yellow;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    
}
.one{
    margin-bottom: -10px;
}