body {
    background: lightyellow;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: orange;
    padding: 20px;
    margin-top: 0;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}